@font-face {
  font-family: 'iconfont';  /* project id 2096435 */
  src: url('https://at.alicdn.com/t/font_2096435_zs3sfgja1n9.eot');
  src: url('https://at.alicdn.com/t/font_2096435_zs3sfgja1n9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2096435_zs3sfgja1n9.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2096435_zs3sfgja1n9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2096435_zs3sfgja1n9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2096435_zs3sfgja1n9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondingdan:before {
  content: "\e718";
}

.iconyonghuguanli:before {
  content: "\e686";
}

.iconmorentupian:before {
  content: "\e61e";
}

.iconshangpinguanli:before {
  content: "\e606";
}

.iconkehutousu:before {
  content: "\e6d2";
}

.icondian:before {
  content: "\ec1e";
}

.iconnew:before {
  content: "\e716";
}

.iconziyuan:before {
  content: "\e64f";
}

.iconweixiu:before {
  content: "\e7f2";
}

.iconchongdianzhuang:before {
  content: "\e653";
}

.iconxiangyou:before {
  content: "\e64a";
}

.iconjiuyuan:before {
  content: "\e60d";
}

.iconweizhang:before {
  content: "\e662";
}

.iconzhoubian:before {
  content: "\e615";
}

